# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.BuildingPlayfullworldsHerkansing.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\documents\HKU\BuildingPlayfullWorlds\Opdracht1Herkansing\BuildingPlayfullworldsHerkansing\.idea\.idea.BuildingPlayfullworldsHerkansing\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
